body {
	font: 14px/19px 'Open Sans', Arial, sans-serif;
	color: #636363;
	background: #fff;
}

#header {
	background: #00c0f2;
	height: 31px;
	padding: 18px 0;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
}

h3 {
	color: #00abe5;
	margin: 0 0 50px 0;
}

ul {
	list-style: none;
}

input {
	border: 1px solid #E5E5E5;
	color: #000;
	font: 14px/22px 'Open Sans', Arial, sans-serif;
	outline: 0 none;
	/*float: left;*/
	border-radius: 5px;
	-webkit-writing-mode: horizontal-tb;
}

p {
	margin: 0;
	margin-top: 20px;
	cursor: hand;
	font-size: 25px;
	color: #636363;
}

input[type="text"]:hover,input[type="password"]:hover {
	border-color: #00abe5;
}

#main {
	width: 100%;
}

.btn {
	color: #fff;
	background: #f5852b;
	height: 33px;
	cursor: pointer;
	display: block;
	width: 80px;
	padding: 0 10px;
	margin-left: 40px;
	font-size: 16px;
}

.btn:hover,.dashboard_button_class:hover {
	background: #189acf;
}

#dashboard {
	margin-top: 30px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid #005880;
	box-shadow: 5px 5px 5px #232231;
	height: 800px;
}

.dashboard_button_class {
	
	text-decoration: none;
	display: block;
	cursor: pointer;
	margin-top: 100px;
	width: 50%;
	height: 67px;
	font-size: 27px;
	background: #f5852b;
	margin-left: 20px;
	color: #fff;
	line-height: 65px;
}

.dashboardIcon {
	margin-left: 50px; text-align : center;
	vertical-align: middle;
	text-align: center;
}
#icons {
	margin-left: 230px;
}