@* billing Template File *@

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Billing</title>

<link href='@routes.Assets.at("stylesheets/ms.css")' rel="stylesheet">
<link href='@routes.Assets.at("stylesheets/jquerycss.css")'
	rel="stylesheet">

<script src='@routes.Assets.at("javascripts/jquery1.9.js")'
	type='text/javascript'></script>
<script src='@routes.Assets.at("javascripts/billing.js")'
	type='text/javascript'></script>
<script src='@routes.Assets.at("javascripts/jqueryui.js")'
	type='text/javascript'></script>
	
<script src='@routes.Assets.at("javascripts/jquery.validate.js")'
	defer="defer" type='text/javascript'></script>

</head>
<body>
	<div id="billingEntry">
		<div id="header">Billing</div>
		<div id="billingFilter">
			<ul>
				<li>
					<p class="labelClass">Truck Number</p> <select id="truckOption"
					name="truckNo" class="textbox_sml">
						<option>Select Truck</option>

				</select>
				</li>
				<li>
					<p class="labelClass">From Date</p> <input type="text"
					name="fromDate" class="textbox_sml" id="fromDate" />
				</li>
				<li>
					<p class="labelClass">To Date</p> <input type="text" name="toDate"
					class="textbox_sml" id="toDate" />
				</li>
			</ul>
			<p>
				<input type="submit" value="Submit" class="btn" id="billingSubmit" />
			</p>

		</div>

		<div id="truckDetails">
			<table id="truckDetailTable" border="1" cellspacing="5"
				cellpadding="5">
				<tr>
					<th>Sr No</th>
					<th>Date</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Freight</th>
					<th>Advance</th>
					<th>Commision</th>
					<th>Hamali</th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
